.wrapper {
  display: flex;
  align-items: center;
  gap: 25px;

  font-weight: 800;
}

.title {
  font-size: 32px;
  color: var(--darkest);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;

  font-size: 48px;
  background-color: var(--blue);
  color: var(--lightest);
  padding: 5px 25px;
  border-radius: 25%;

  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1088px) {
  .title {
    font-size: 28px;
  }

  .counter {
    width: 4rem;
    font-size: 38px;
    padding: 5px 15px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    gap: 12px;
  }
  .title {
    font-size: 24px;
  }

  .counter {
    width: 3rem;
    font-size: 30px;
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    gap: 6px;
  }
  .title {
    font-size: 22px;
  }

  .counter {
    width: 2rem;
    font-size: 20px;
    padding: 2px;
  }
}
